.user__list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1024px){ //desktop and above
    flex-flow: row wrap;
    flex-direction: row;
  }
  &-item{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    @media screen and (min-width: 1024px){ //desktop and above
      width: unset;
      flex-flow: row wrap;
      margin-right: 20px;
      max-width: 260px;
      flex: 0 0 50%;
    }
    &:hover{
      transform: scale(1.03);
    }
    perspective: 1000px;
    &.js-active{
      .user__card{
        transform: rotateY(180deg);
      }
    }
  }
}