.user__item{
  &-img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    @media screen and (min-width: 1024px){ //desktop and above
      width: 60px;
      flex: 0 0 20%;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
  &-infos{
    align-self: flex-start;
    @media screen and (min-width: 1024px){ //desktop and above
      align-self: auto;
      flex: 0 0 70%;
    }
  }
  &-name{
    margin: 0;
    text-transform: capitalize;
  }
  &-status{
    margin: 10px 0 0;
    strong{
      border-radius: 10px;
      color: #fff;
      font-weight: normal;
      font-size: 12px;
      padding: 4px;
      pointer-events: none;
    }
    &.valid{
      strong{
        background: #1db954;
      }
    }
    &.invalid{
      strong{
        background: red;
      }
    }
  }
  &-action{
    text-decoration: none;
    color: #1db954;
    border: 2px solid #1db954;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    margin-top: 10px;
    transition: all .3s;
    &:hover{
      background: #1db954;
      color: #fff;
    }
  }
}